@font-face {
    font-family: 'robotoblack';
    src: url('./Roboto-Black.ttf') format('woff2'),
        url('assets/fonts/webfontkit/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('assets/fonts/webfontkit/roboto-blackitalic-webfont.woff2') format('woff2'),
        url('assets/fonts/webfontkit/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('./Roboto-Bold.ttf') format('woff2'), url('assets/fonts/webfontkit/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('assets/fonts/webfontkit/roboto-bolditalic-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoitalic';
    src: url('assets/fonts/webfontkit/roboto-italic-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('./Roboto-Light.ttf') format('woff2'), url('assets/fonts/webfontkit/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('assets/fonts/webfontkit/roboto-lightitalic-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('./Roboto-Medium.ttf') format('woff2'), url('assets/fonts/webfontkit/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('assets/fonts/webfontkit/roboto-mediumitalic-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('assets/fonts/webfontkit/roboto-regular-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('assets/fonts/webfontkit/roboto-thin-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('assets/fonts/webfontkit/roboto-thinitalic-webfont.woff2') format('woff2'), url('assets/fonts/webfontkit/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-stack1:'robotobold';
$font-stack2: Arial, Helvetica, sans-serif;
$font-stack3: 'robotomedium';

$light-blue: #7fc2f7;
$medium-blue: #146eb4;

body {
    align-items: center center;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    max-width: 100%;

    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
          

        .p1 {
            display: block;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-family: $font-stack1;
            font-size: xx-large;
            color: grey;

        }
        .build {
            color: orange;
            border-top: 4px solid grey;
            border-bottom: 4px solid grey;
            border-left: 4px solid grey;
            padding: 2px;
        }

        .mobilenav {

            display: flex;
            flex-direction: column;
            align-content: center;
    
        

            a {
                font-size: medium;
                font-family: $font-stack1;
                color: #fff;
                text-decoration: none;
                padding: 5px;
                margin: 5px;
                text-align: center;
                justify-content: center;
            }

            background-color: $light-blue;

        }

       
        }


        .backgroundImage {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: antiquewhite;
            width: 100%;
            min-height: 400px;
            max-height: 600px;



            #p2 {
                display: none !important;
            }

            .descnav {
                display: none;
                float: right;
                font-size: medium;
                font-family: $font-stack1;
                font-weight: bold;
                margin-top: 0px;
                margin-right: 0px;
                padding: 0%;
    
                a {
                    display: flex;
                    float: none;
                    top: 50%;
                    left: 50%;
                    margin: auto;
                    padding: 10px;
                    text-decoration: none;
                    text-align: center;
                    color: rgb(255, 255, 255);
                }
               
                



            }

            .midrow{
                display: flex;
                flex-direction: column;
                width: 80%;
                justify-content: center;
                text-align: center;
                
            


                .inspo{
                        width:80%;
                        font-family: $font-stack2;
                        font-size: 200%;
                        font-weight: 200;
                        color: #fff;
                        text-align: center;
                        align-self: center;


                }
                button {
                    background-color: $medium-blue;
                    color: #fff;
                    font-weight: lighter;
                    border:none;
                    border-radius:15px;  
                    justify-content: center; 
                    text-align: center;
                    align-self: center;
                    width:120px;
                    height:30px;
                    
                }
            }


        }

        }

        

    main {
        margin: 5%;
        margin-top: 0%;

        

        .whoWeAre {
            .title1{
                .kosmo {
                    text-align: center;
                    font-family: $font-stack2;
                    width: 100%;
                    text-align: center;
                }
                .border {
                    width: 100%;
                    text-align: center;
                    .line {
                        display: inline-block;
                        height: 20px;
                        width: 40px;
                        border-top: 2px solid black;
                    }
                    
                    .square {
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        border: 2px solid black;
                        margin: 0px 10px;
                        transform: rotate(45deg);
                        position: relative;
                        top: -9px;
                    }
                }
            }
            .row1 {

                width: 100%;

                .sq {

                    width: 100%;


                    h2 {
                        font-family: $font-stack2;
                        width: 100%;
                        text-align: left;
                        color: #7fc2f7;
                    
                    }
                    .motivation {
                        font-family: $font-stack3;
                        color: rgb(62, 60, 60);
                        font-size: small;
                    }           
            
                    ul {
                        list-style-image: url('./arrow_bullet.png');
                        text-align: left;
                        font-family: $font-stack3;
                        color: grey;
                        font-size: smaller;
            
                        li {
                            margin-bottom: 15px;
                        }

                        .about {
                           display:flex;
                           align-self: center;
                           object-fit: scale-down;
                           margin: 20px;
                           
                        }
            
                    }
                    
                }

            }
        }

        .whatPeopleSay {
            h1 {
                font-family: $font-stack2;
                width: 100%;
                text-align: center;
            }
            .border {
                width: 100%;
                text-align: center;
                .line {
                    display: inline-block;
                    height: 20px;
                    width: 40px;
                    border-top: 2px solid black;
                }
                
                .square {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 2px solid black;
                    margin: 0px 10px;
                    transform: rotate(45deg);
                    position: relative;
                    top: -9px;
                }
            }
            .ljudi {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .blue {
                    background-color: $light-blue;
                    padding: 15px;
                    margin-bottom: 20px;

                    .upper {
                        width:100%;

                        .customers {
                            width: 20%;
                            height:25%;
                            border-radius: 50%;
                            border-style: double;
                            border-width: 3px;
                            border-color: #fff;
                            float: left;
                            margin-right: 20px;
                            
                        }
    
                        .person {
                            text-align:start;
                            justify-content:first baseline;
    
    
                        }
    
                        .customers1 {
                            font-family: $font-stack1;
                        
                        }  
    
                        .stars {
                            color: white;
                               
                        }    

                    }

                    .comment {
                        font-family: $font-stack3;
                        font-weight: lighter;
                        font-size: small;
                        line-height: 30px;
                        color: #fff;
                        width: 100%;
                        margin-top: 10%;
                        
                    }
                }

            }
        }

        .contact {
            h1 {
                font-family: $font-stack2;
                width: 100%;
                text-align: center;
            }
            .border {
                width: 100%;
                text-align: center;
                .line {
                    display: inline-block;
                    height: 20px;
                    width: 40px;
                    border-top: 2px solid black;
                }
                
                .square {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 2px solid black;
                    margin: 0px 10px;
                    transform: rotate(45deg);
                    position: relative;
                    top: -9px;
                }
            }
            .container {
                display: flex;
                flex-wrap: wrap;

                .items {
                    display: flex;
                    width: 45%;
                    height: 220px;
                    flex-basis: 220px;
                    align-self: center;
                    padding: 5%;
                    font-family:$font-stack3 ;
                    color: #fff;
                
                }

                #item1 {
                    flex-direction: column;
                    flex: 1;
                    background-color: #3bdb9c;
                    justify-content: left;

                    .contact1 {
                        margin-left: 10%;

                        .mobile {
                            list-style-image: url("./phone.png");
                            width: 50px;
                            height: 50px;
                        }
                        
                        .email {
                            list-style-image: url("./email.jpg");
                            width: 50px;
                            height: 50px;
                        }
                    }
                  
                }
                
                #item2 {
                    flex-direction: column;
                    flex: 1;
                    background-color: #fd5282;
                    justify-content: flex-start;

                    .icons {
                        display: flex;
                        flex-direction: row;
                        justify-items: center;
                        justify-content: space-around;
                    }

                    .facebook {
                        height: 50px;
                        width: 50px;
                    }
                    
                    .insta {
                    
                        height: 50px;
                        width: 50px;
                    
                    }
                    
                    .link {
                        height: 50px;
                        width: 50px;
                    }
                    
                    .twitter {
                        height: 50px;
                        width: 50px;
                    }
                }
                
                #item3 {
                    flex-direction: column;
                    flex: 1;
                    background-color: $medium-blue;

                    .address {
                        display: flex;
                        flex: 1;
                        text-align: center;
                        font-style: normal;
                    
                    }
                }

                #item4 {
                    flex: 1;
                    background-color: $light-blue;
                    justify-content: center;
                    align-items: center;

                    .house {
                        max-height: 200px;
                        margin: 20%;
                    }
                }

                .title {
                    text-align: center;
                }


                .contact1,.address {
                    font-size: medium;
                    color: #fff;
                }
                
            
            }
        }

        iframe {
            width: 100%;
        }

        .mailus {
            h1 {
                font-family: $font-stack2;
                width: 100%;
                text-align: center;
            }
            .border {
                width: 100%;
                text-align: center;
                .line {
                    display: inline-block;
                    height: 20px;
                    width: 40px;
                    border-top: 2px solid black;
                }
                
                .square {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 2px solid black;
                    margin: 0px 10px;
                    transform: rotate(45deg);
                    position: relative;
                    top: -9px;
                }
            }
            form {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                align-items: center;

                input {
                    width: 100%;
                    height: 30px;
                    margin: 10px;
                }
                textarea {
                    width: 100%;
                    height: 100px;
                    margin: 10px;
                }
                .submit {
                    width: 100px;
                    background-color: orange;
                    border-style: none;
                    color: #fff;
                    font-family: $font-stack3;
                    margin-left: 2%;
                    
                }
            }


        }
       
    }


   
    































































