.bart1 {
    position: relative; 
    padding-left: 100px; 
    padding-top: 50px;
}

.bart2 {
    position: absolute; 
    right: 10px; 
    top: 15px;
}

.bart3 {
    position: fixed; 
    bottom: 50px;
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;

}

.top {
    position: fixed;
    bottom: 30px;
    right: 10px;
}